<link href="/stylesheets/contest_problem.css" rel="stylesheet">
<ul class="nav nav-tabs" id="ctab">
	<li><a href="/Contest/ShowContests?cid=<%= fcont.cid %>">Info</a></li>
	<li class="active"><a href="#">Problem</a></li>
	<li><a href="#Status">Status</a></li>
	<li><a href="#Standing">Standing</a></li>
</ul>

<div class="form-group">
	<table id="problemList" class="table table-striped table-centered">
		<thead>
			<th class="header-status">
			</th>
			<th class="header-id">
				<div id="searchTitleBtn" class="" order='asc'><a href="#">ID</a></div>
			</th>
			<th class="header-title">
				<div id="searchTitleBtn" class="" order='asc'><a href="#">Title</a></div>
			</th>
			<th class="header-ac">
				<div id="searchAcrateBtn" class="" order='asc'><a href="#">AC Ratio</a></div>
			</th>
		</thead>
		<tbody>
			<% fcont.problem.forEach(function(prob, index) { %>
			<tr>
				<!--<span class="ac"> </span>-->
				<td>
					<td><%= index+1001 %></td>
					<td><a href="/ShowProblems?pid=<%= prob.pid %>"><%- prob.title %></a></td>
					<td></td>
				</td>
			</tr>
			<% }); %>

		</tbody>
	</table>
</div>
