<div class="jumbotron">
	<div class="container">
		<h2>Welcome to NewTOJ!</h2>
		<p>NewTOJ is ...</p>
		<p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
		<p>Recent Contest:</p>
	</div>
</div>
<% if (user) { %>
	<%- partial('say') %>
<% } %>
<%- partial('posts') %>
