<div class="page-header">
	<h3><%= uid %> <%= title %><small></small></h3>
</div>

<pre>
<%-desc %>
</pre>


<h4>Input</h4>
<pre>
input here...
</pre>

<h4>Output</h4>
<pre>
output here...
</pre>

<h4>Sample Input</h4>
<pre>
sample input here...
</pre>

<h4>Sample Output</h4>
<pre>
sample output here...
</pre>

<h4>Hint</h4>
<pre>
hint here...
</pre>

<center>
<div class="btn-group">
	<button type="button" class="btn btn-default">Submit</button>
	<button type="button" class="btn btn-default">Status</button>
	<button type="button" class="btn btn-default">Statisics</button>
</div>
</center>
