<script src="/javascripts/animator.js"></script>
<script src="/javascripts/rankingTableUpdate.js"></script>
<table id="t1">
	<thead>
		<tr>
			<td class="anim:position">#</td>
			<td class="anim:id">User</td>
			<td class="anim:update">AC</td>
			<td class="anim:update">ALL</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1</td>
			<td>mj</td>
			<td>10</td>
			<td>100</td>
		</tr>
		<tr>
			<td>2</td>
			<td>sb</td>
			<td>9</td>
			<td>90</td>
		</tr>
	</tbody>
</table>
<table id="t2">
	<thead>
		<tr>
			<td class="anim:position">#</td>
			<td class="anim:id">User</td>
			<td class="anim:update">AC</td>
			<td class="anim:update">ALL</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1</td>
			<td>sb</td>
			<td>13</td>
			<td>190</td>
		</tr>
		<tr>
			<td>2</td>
			<td>mj</td>
			<td>12</td>
			<td>100</td>
		</tr>
	</tbody>
</table>
<script>
$($('#t1')).rankingTableUpdate($('#t2'));
</script>
