<style>
	tr,td{font-size:12.5px;}
	.table-centered {
		margin: 0 auto !important;
		float: none !important;
		width: 1000px;
	}
	.header-runid{
		width: 10%;
	}
	.header-sub_time{
		width: 25%;
	}
	.header-result{
		width: 25%;
	}
	.header-pid {
		width: 5%;
		min-width: 100px;
	}
	.header-time{
		width: 10%;
		min-width: 100px;
	}
	.header-memory{
		width: 10%;
		min-width: 100px;
	}
	.header-codelen{
		width: 5%;
		min-width: 100px;
	}
	.header-lang{
		width: 5%;
		min-width: 100px;
	}
	.header-user{
		width: 5%;
		min-width: 100px;
	}
</style>
