<style>
.form-horizontal {
	margin: 0 auto !important;
	float: none !important;
	width: 1000px;
}
.table-centered {
	margin: 0 auto !important;
	float: none !important;
	width: 1000px;
}
.form-group {
	margin-bottom: 0px;
}
.search-bar {
	width: 25%;
	float: left;
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}
.search-btn {
	width: 5%;
	float: left;
	position: relative;
	right: -220px;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}
.oj-select {
	width: 12%;
	float: right;
	position: relative;
	right: 220px;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}
.ac {
	display: inline-block;
	height: 16px;
	width: 16px;
	background-image: url('/static/images/correct.png');
	background-repeat: no-repeat;
	display: inline-block;
	height: 16px;
	width: 16px;
	background-image: url('/static/images/question.png');
	background-repeat: no-repeat;
}
.header-status {
	width: 5%;
}
.header-id {
	width: 5%;
}
.header-title {
	width: 50%;
}
.header-oj {
	width: 5%;
}
.header-vid {
	width: 5%;
}
.header-ac {
	width: 20%;
	min-width: 100px;
}
.header-hard {
	width: 3%;
}
</style>
